.grid-container {
  margin: 20px 20px 20px 60px;
}

table {
  width: 100%;
}

th {
  width: 0%;
}

.search-card{
  width: 50%;
}

.filter-card {
  width: 90%;
  margin-top: 5em;
}


.search-head{
  margin-bottom: 2em;
}

.policy-id,.customer-id{
  margin-right: 2em;
}


.search-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}


.button-container{
  width: 200px;
}
.search-button {
  margin-bottom: 1.4em;
  padding: 1.3em 4em;
  line-height: 1.125;
  width: 100%;
}

.filter-field{
  width: 100%;
}

.mat-row:nth-child(odd){
  background-color: #E8EAF6;
}

table {
  width: 100%;
  overflow-x: auto;
}
.example-container {
  position: relative;
}

.example-container-table {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

mat-icon{
  cursor: pointer;
}



@media (max-width: 1230px) {
  .search-container {
    flex-direction: column;
  }

  .policy-id,.customer-id{
    margin-right: 0;
  }
}